* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ccc;
  }
  
  .text-1 {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  p.social {
    padding-top: 23px;
    text-align: center;
    font-weight: bold;
  }
  .input-2 {
    padding: 12px 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    width: 100%;
    margin-top: 5px;
    background-color: #f6f6f7;
  }
  .hand {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .media-center {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
  }
  .btn-3 {
    margin-top: 41px;
    margin-bottom: 30px;
    border-radius: 50px;
    outline: none;
    color: white;
    background-color: #9d1621;
    margin-left: 200px;
    margin-right: 200px;
    width: 9rem;
    height: 3rem;
    border: none;
  }
  .label-10 {
    font-weight: bold;
  }
  .help  {
      color: red;
  }
  @media (max-width: 531px) {
    .text-1 {
      width: 428px;
      
    }
    .less {
      position: relative;
    }
    .btn-3 {
      margin-right: 20px;
    }
  }